DATABASE_URL=postgresql://postgres:PAROLA@db.PROJECT_REF.supabase.co:5432/postgres
SECRET_KEY=schimba-acest-secret-in-productie
REFRESH_SECRET_KEY=schimba-acest-refresh-secret-in-productie
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
